name: Test Automation Suite

on:
  push:
    branches: [main]
  workflow_dispatch:
    inputs:
      test_type:
        description: 'Choose test suite to run'
        required: true
        default: 'smoke'
        type: choice
        options:
          - smoke
          - regression

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Tests
        run: |
          # Force the environment to recognize JDK 25 for this step
          export JAVA_HOME=$JAVA_HOME_25_X64
          export PATH=$JAVA_HOME/bin:$PATH
          
          # Verify the version before running Maven
          mvn -version
          
          # Run your tests
          mvn clean test -DsuiteXmlFile=testng.xml -Dgroups=${{ github.event.inputs.test_type || 'smoke' }}
        continue-on-error: true

      - name: Generate Allure Report
        if: always()
        run: |
          # Define the version to make future updates easy
          ALLURE_VERSION="2.32.0"
          
          # Install Allure CLI and generate the static HTML
          sudo wget https://github.com/allure-framework/allure2/releases/download/${ALLURE_VERSION}/allure-${ALLURE_VERSION}.tgz
          sudo tar -zxvf allure-${ALLURE_VERSION}.tgz -C /opt/
          sudo ln -sf /opt/allure-${ALLURE_VERSION}/bin/allure /usr/bin/allure
          
          # Check version to verify installation
          allure --version
          # Generate the static HTML report
          allure generate target/allure-results --clean -o allure-report

      - name: Save Current History as Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-history
          path: ./allure-report/history
          retention-days: 7 # This keeps the history data for 7 days

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './allure-report'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
